<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletPrincipal</servlet-name>
        <servlet-class>ServletPrincipal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRegistrar</servlet-name>
        <servlet-class>Controlador.ServletRegistrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletIniciarSesion</servlet-name>
        <servlet-class>Controlador.ServletIniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>regisHabilid</servlet-name>
        <servlet-class>Controlador.regisHabilid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCambiarClave</servlet-name>
        <servlet-class>Controlador.ServletCambiarClave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPerfilTercero</servlet-name>
        <servlet-class>Controlador.ServletPerfilTercero</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDejardeSeguir</servlet-name>
        <servlet-class>Controlador.ServletDejardeSeguir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAmistad</servlet-name>
        <servlet-class>Controlador.ServletAmistad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPublica</servlet-name>
        <servlet-class>Controlador.ServletPublica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPuertaPerfil</servlet-name>
        <servlet-class>Controlador.ServletPuertaPerfil</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletPrincipal</servlet-name>
        <url-pattern>/ServletPrincipal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRegistrar</servlet-name>
        <url-pattern>/ServletRegistrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletIniciarSesion</servlet-name>
        <url-pattern>/ServletIniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>regisHabilid</servlet-name>
        <url-pattern>/regisHabilid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCambiarClave</servlet-name>
        <url-pattern>/ServletCambiarClave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPerfilTercero</servlet-name>
        <url-pattern>/ServletPerfilTercero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDejardeSeguir</servlet-name>
        <url-pattern>/ServletDejardeSeguir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAmistad</servlet-name>
        <url-pattern>/ServletAmistad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPublica</servlet-name>
        <url-pattern>/ServletPublica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPuertaPerfil</servlet-name>
        <url-pattern>/ServletPuertaPerfil</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
